openapi: 3.0.0

info:
 version: '1.0'
 title: 'LBAW Infinity Auction Web API'
 description: 'Web Resources Specification (A7) for Infinity Auction'

servers:
 - url: http://lbaw2271.lbaw.fe.up.pt
   description: Production server

externalDocs:
 description: Find more info here.
 url: https://web.fe.up.pt/~ssn/wiki/teach/lbaw/medialib/a07

tags:
 - name: 'M01: Registration and authentication'
 - name: 'M02: Static pages'
 - name: 'M03: Platform administration'
 - name: 'M04: Individual user'
 - name: 'M05: Auctions'
 - name: 'M06: Reports'
 - name: 'M07: Wishlist'
 - name: 'M08: Notifications'
 

paths:
 /login:
   get:
     operationId: R101
     summary: 'R101: Login Form'
     description: 'Provide login form. Access: PUB'
     tags:
       - 'M01: Registration and authentication'
     responses:
       '200':
         description: 'Ok. Show Log-in UI'
   post:
     operationId: R102
     summary: 'R102: Login Action'
     description: 'Processes the login form submission. Access: PUB'
     tags:
       - 'M01: Registration and authentication'

     requestBody:
       required: true
       content:
         application/x-www-form-urlencoded:
           schema:
             type: object
             properties:
               email:          # <!--- form field name
                 type: string
               password:    # <!--- form field name
                 type: string
             required:
                  - email
                  - password

     responses:
       '302':
         description: 'Redirect after processing the login credentials.'
         headers:
           Location:
             schema:
               type: string
             examples:
               302Success:
                 description: 'Successful authentication. Redirect to user profile.'
                 value: '/users/{id}'
               302Error:
                 description: 'Failed authentication. Redirect to login form.'
                 value: '/login'

 /logout:

   post:
     operationId: R103
     summary: 'R103: Logout Action'
     description: 'Logout the current authenticated user. Access: USR, ADM'
     tags:
       - 'M01: Registration and authentication'
     responses:
       '302':
         description: 'Redirect after processing logout.'
         headers:
           Location:
             schema:
               type: string
             examples:
               302Success:
                 description: 'Successful logout. Redirect to login form.'
                 value: '/login'

 /register:
   get:
     operationId: R104
     summary: 'R104: Register Form'
     description: 'Provide new user registration form. Access: PUB'
     tags:
       - 'M01: Registration and authentication'
     responses:
       '200':
         description: 'Ok. Show Sign-Up UI'

   post:
     operationId: R105
     summary: 'R105: Register Action'
     description: 'Processes the new user registration form submission. Access: PUB'
     tags:
       - 'M01: Registration and authentication'

     requestBody:
       required: true
       content:
         application/x-www-form-urlencoded:
           schema:
             type: object
             properties:
               name:
                 type: string
               email:
                 type: string
               picture:
                 type: string
                 format: binary
             required:
                  - email
                  - password

     responses:
       '302':
         description: 'Redirect after processing the new user information.'
         headers:
           Location:
             schema:
               type: string
             examples:
               302Success:
                 description: 'Successful authentication. Redirect to user profile.'
                 value: '/users/{id}'
               302Failure:
                 description: 'Failed authentication. Redirect to login form.'
                 value: '/login'

 /about:
    get:
      operationId: R201
      summary: 'R201: About page'
      description: 'About Page containing info about our webpage. Access: PUB'
      tags:
        - 'M02: Static pages'
      responses:
        '200':
          description: 'Ok. Show about us UI'

 /services:
    get:
      operationId: R202
      summary: 'R202: Services page'
      description: 'Services Page containing info about the services we provide. Access: PUB'
      tags:
        - 'M02: Static pages'
      responses:
        '200':
          description: 'Ok. Show Services Page UI'
 /faq:
    get:
      operationId: R203
      summary: 'R203: About page'
      description: 'FAQ page containing the most frequently asked questions. Access: PUB'
      tags:
        - 'M02: Static pages'
      responses:
        '200':
          description: 'Ok. FAQ UI'
 /contacts:
    get:
      operationId: R204
      summary: 'R203: Contacts page'
      description: 'Contacts page containing the our contacts, address and social media. Access: PUB'
      tags:
        - 'M02: Static pages'
      responses:
        '200':
          description: 'Ok. Show contacts page UI'

 /manage/auction/{id}:
     post:
      parameters:
          - in: path
            name: id
            schema:
              type: integer
            required: true
            description: Numeric ID of the auction to get
      operationId: R301
      summary: 'R301: Edit Auction'
      description: 'Allows the admin to change info of a certain auction, ranging from the enddate of the auction to the media of said auction. Access: ADM'
      tags:
       - 'M03: Platform administration'

      requestBody:
       required: true
       content:
         application/x-www-form-urlencoded:
           schema:
             type: object
             properties:
               name:
                 type: string
               description:
                 type: string
               basePrice:
                 type: integer
               startDate:
                 type: string
               endDate: 
                 type: string
               buyNow:
                 type: integer
               state:
                 type: string

      responses:
       '302':
         description: 'Redirect after processing the data change.'
         headers:
           Location:
             schema:
               type: string
             examples:
               302Success:
                 description: 'Successful edit. Redirect to all auctions page.'
                 value: '/auctions'
               302Failure:
                 description: 'Failed edit. Redirect to the same page to attempt a new change.'
                 value: '/auction/{id}'
     delete:
      parameters:
          - in: path
            name: id
            schema:
              type: integer
            required: true
            description: Numeric ID of the auction to get'
      operationId: R302
      summary: 'R302: Delete Auction'
      description: 'Allows the admin to delete an auction. Access: ADM'
      tags:
        - 'M03: Platform administration'

      requestBody:
       required: true
       content:
         application/x-www-form-urlencoded:
           schema:
             type: object
             properties:
               password:
                type: string
             required:
                  - password

      responses:
       '302':
         description: 'Redirect after deleting.'
         headers:
           Location:
             schema:
               type: string
             examples:
               302Success:
                 description: 'Successful deletion. Redirect to all auctions page.'
                 value: '/auctions'
               302Failure:
                 description: 'Failed deletion. Redirect to the same page to attempt a new deletion.'
                 value: '/auction/{id}'

 /manage/users/{id}:
   post:
     parameters:
          - in: path
            name: id
            schema:
              type: integer
            required: true
            description: Numeric ID of the user to get
     operationId: R303
     summary: 'R303: Manage User'
     description: 'Allows the admin to change info of the user. Access: ADM'
     tags:
       - 'M03: Platform administration'

     requestBody:
       required: true
       content:
         application/x-www-form-urlencoded:
           schema:
             type: object
             properties:
               name:
                 type: string
               gender:
                 type: string
               cellphone:
                 type: integer
               email:
                 type: string
               birth_date: 
                 type: string
               address:
                 type: string
               rate:
                 type: integer
               credits:
                 type: integer
               wishlist:
                 type: string
              
               

     responses:
       '302':
         description: 'Redirect after processing the data change.'
         headers:
           Location:
             schema:
               type: string
             examples:
               302Success:
                 description: 'Successful edit. Redirect to all users page.'
                 value: '/users'
               302Failure:
                 description: 'Failed edit. Redirect to the same page to attempt a new change.'
                 value: 'users/{id}'
   delete:
     parameters:
          - in: path
            name: id
            schema:
              type: integer
            required: true
            description: Numeric ID of the auction to get
     operationId: R304
     summary: 'R304: Delete Auction'
     description: 'Allows the admin to delete a user. Access: ADM'
     tags:
       - 'M03: Platform administration'

     requestBody:
       required: true
       content:
         application/x-www-form-urlencoded:
           schema:
             type: object
             properties:
               password:
                type: string
             required:
                  - password

     responses:
       '302':
         description: 'Redirect after deleting.'
         headers:
           Location:
             schema:
               type: string
             examples:
               302Success:
                 description: 'Successful deletion. Redirect to all users page.'
                 value: '/users'
               302Failure:
                 description: 'Failed deletion. Redirect to the same page to attempt a new deletion.'
                 value: '/users/{id}'

 /manage/reports:
   get:
     operationId: R305
     summary: 'R305: Get reports'
     description: 'See all the reports. Access: ADM'
     tags:
       - 'M03: Platform administration'
     responses:
       '200':
         description: 'Ok. Show all reports UI'
       '400':
         description: 'Something went wrong. Please try again'

 /manage/categories:
   get:
     operationId: R306
     summary: 'R306: Get categories'
     description: 'See all the categories. Access: ADM'
     tags:
       - 'M03: Platform administration'
     responses:
       '200':
         description: 'Ok. Show all categories'
       '400':
         description: 'Something went wrong. Please try again'
   post:
     operationId: R307
     summary: 'R307: Edit Auction Categories'
     description: 'Allows the admin to change categories of auctions. Access: ADM'
     tags:
       - 'M03: Platform administration'

     requestBody:
       required: true
       content:
         application/x-www-form-urlencoded:
           schema:
             type: array
             items:
              type: string       
     responses:
       '200':
         description: 'Ok. Categories edited'
       '400':
         description: 'Something went wrong. Please try again'
   delete:
     operationId: R308
     summary: 'R308: Delete Auction'
     description: 'Allows the admin to delete a user. Access: ADM'
     tags:
       - 'M03: Platform administration'

     requestBody:
       required: true
       content:
         application/x-www-form-urlencoded:
           schema:
             type: object
             properties:
               password:
                type: string
             required:
                  - password
     responses:
       '200':
         description: 'Ok. Category deleted'
       '400':
         description: 'Something went wrong. Please try again'
  
 /report/{id}:
   get:
     parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
          description: Numeric ID of the report to post to
     operationId: R601
     summary: 'R601: Get Reports'
     description: 'Receive reports for admmin to handle. Access: ADM'
     tags:
      - 'M06: Reports'
     responses:
       '200':
         description: 'Ok.  Reports received'
       '400':
         description: 'Something went wrong. Please try again'
  
   post:
     parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
          description: Numeric ID of the report to post to
     operationId: R602
     summary: 'R602: Edit User'
     description: 'Allows the admin to change info of a certain report inluding the penalty for the reported_user.'
     tags:
      - 'M06: Reports'

     requestBody:
      required: true
      content:
        application/x-www-form-urlencoded:
          schema:
            type: object
            properties:
              id:
                type: integer
              date:
                type: string
              penalty:
                type: integer
              reported_user:
                type: integer
              reporter: 
                type: integer
              auction_reported:
                type: integer
              admin_id:
                type: integer

     responses:
       '200':
         description: 'Ok. Reports edited'
       '400':
         description: 'Something went wrong. Please try again'
   delete:
     operationId: R303
     summary: 'R304: Delete Auction'
     description: 'Allows the admin to delete a report. Access: ADM'
     tags:
       - 'M06: Reports'

     requestBody:
       required: true
       content:
         application/x-www-form-urlencoded:
           schema:
             type: object
             properties:
               password:
                type: string
             required:
                  - password
     responses:
       '200':
         description: 'Ok. Report deleted'
       '400':
         description: 'Something went wrong. Please try again'
  