.auction_carousel{
    display: flex;
    overflow-x: auto;
}

.auction_carousel :first-child{
    margin-left: 0;
}

/* auction */
.auction{
    flex-shrink: 0;
    width: 20em;
    margin: 2em;
    border: 1px solid black;
    padding: 2em;
    border-radius: 1em;
}

#categories{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#categories h4{
    margin: 1em 0.5em;
    flex: 1 0 45%;
    width: 4em;
    max-width: 10em;
    text-align: center;
    padding: 1em;
    border: 1px solid black;
    border-radius: 1em;
}

#details_plus_images{
    display: flex;
}

#auction_images{
    display: flex;
    flex-wrap: wrap;
    width: 50em;
    align-items: flex-start;
}

#auction_images img{
    width: 20%;
    height: 5%;
    margin: 1em;
}
