.login {
    margin: 10rem auto;
    width: 36rem;
    display: flex;
    flex-direction: column;
    padding: 3rem;
    box-shadow: rgba(9, 30, 66, 0.25) 0 1px 1px,
                rgba(9, 30, 66, 0.13) 0 0 1px 1px;
    border-radius: 7px;
}

.login > h3 {
    font-size: 3rem;
}

.login > label {
    font-weight: 600;
    font-size: 1.3rem;
}

.login > input {
    border: none;
    border-bottom: 1px solid var(--thirty);
    padding: 0.5rem;
    margin-bottom: 2rem;
}

.login > input:read-write {
    font-family: inherit;
}

.login > button {
    margin-top: 3rem;
    padding: 1rem;
    background-color: var(--ten);
    font-family: inherit;
    color: var(--sixty);
    font-weight: 600;
    border-radius: 7px;
    border: 1px solid var(--ten);
    cursor: pointer;
}

.login > button:hover {
    background-color: var(--sixty);
    color: var(--ten);
}

.login > p {
    margin: 3rem 0 0;
}

.login > a {
    color: var(--ten);
}
