h2, .ma {
    margin-top: 5rem;
}

#categories {
    display: flex;
    flex-wrap: wrap;
}

#categories > h4 {
    width: 20%;
    text-align: center;
}

#categories > h4 > a {
    color: var(--ten);
}

a {
   text-decoration: none;
}