h2, .ma {
    margin-top: 5rem;
}

#categories {
    display: flex;
    flex-wrap: wrap;
}

#categories > h4 {
    width: 20%;
    text-align: center;
}

#categories > h4 > a {
    color: var(--ten);
}

a {
   text-decoration: none;
}

.error{
    color: red;
    font-weight: bold;
    font-size: smaller;
}

#about_us_info{
    margin-bottom: 5em;
    margin-top: 4em;
}
