.sell {
    margin: 10rem auto;
    width: 36rem;
    display: flex;
    flex-direction: column;
    padding: 3rem;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
                rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    border-radius: 7px;
}

.sell > h3 {
    font-size: 3rem;
}

.sell > label, .sell > legend {
    font-weight: 600;
    font-size: 1.3rem;
}

.sell > input {
    border: none;
    border-bottom: 1px solid var(--thirty);
    padding: 0.5rem;
    margin-bottom: 2rem;
}

.sell > input:read-write {
    font-family: inherit;
}

.sell > button {
    margin-top: 3rem;
    padding: 1rem;
    background-color: var(--ten);
    border: none;
    font-family: inherit;
    color: var(--sixty);
    font-weight: 600;
    border-radius: 7px;
    border: 1px solid var(--ten);
    cursor: pointer;
}

.sell > button:hover {
    background-color: var(--sixty);
    color: var(--ten);
}

.sell > p {
    margin: 0;
    margin-top: 3rem;
}

.sell > a {
    color: var(--ten);
}

#currentImages {
    display: flex;
    justify-content: space-between;
}

#currentImages > .auctionImage {
    width: 25%;
}

#currentImages > .auctionImage > img:first-child {
    width: 2.3rem;
    position: absolute;
    background-color: var(--sixty);
}

#currentImages > .auctionImage > img:last-child {
    width: 100%;
    position: relative;
    z-index: -1;
}