.card {
  position: relative;
  display: flex;
  align-self: center;
  margin: 0 auto;
  align-items: center;
  align-content: center;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 1rem;
}


.row {
  display: flex;
  margin-left: 2em;
  margin-right: 4em;
  justify-content: space-between;
  
}

.col-md-8 {
  flex: 8;
}

.form-group {
  padding: 0.5em;
}

.btn {
  margin: 1em 0em;
  padding: 0.5em;
  width: 10em;
  height: auto;
  background-color: var(--thirty);
  text-decoration: none;
  border: none;
  border-radius: 0.6em;
  color: #ffffff;
  font-weight: 500;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.info_bar_1, .info_bar_2, .info_bar_3, .info_bar_4, .info_bar_5, .info_bar_6, .info_bar_admin, .info_bar_auc, .info_bar_usr{
  cursor: pointer;
}

.bidding_auctions {
  width: 100%;
  display: grid;
  align-self: center;
  justify-items: center;
  grid-template-columns: auto auto;
  display: none;
}

.following_auctions {
  display: grid;
  align-self: center;
  justify-items: center;
  grid-template-columns: auto auto;
  min-height: 100vh;
  display: none;
}

.woned_auctions {
  display: grid;
  align-self: center;
  justify-items: center;
  grid-template-columns: auto auto;
  min-height: 100vh;
}

.auc-report, .usr-report {
  display: none;
}

.bids_placed {
  display: none;
}

.info_bar_1, .info_bar_admin {
  text-decoration: underline;
}

.delete_account {
  background-color: red;
  width: 10em;
  padding: 0.3em;
  border: none;
  border-radius: 0.5em;
  color:aliceblue;
  cursor: pointer;
  margin: 1em;
}