.card {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 1rem;
}

.card-header {
  padding: 0.5rem 1.5rem;
  background-color: var(--thirty);
  border-radius: 1em;
  margin: 2em 0em;
}

.card-header .title {
  color: var(--sixty);
  font-size: 1em;
  align-self: center;
}

.card-body {
  border-radius: 1em;
}

.row {
  display: flex;
}

.col-md-8 {
  flex: 8;
  padding: 2em;
}

.col-md-4 {
  align-self: flex-start;
  justify-items: center;
  align-items: center;
  border-style: dotted;
  flex: 3;
  margin-top: 4em;
  padding: 2em;
  border-radius: 1em;
}

.avatar {
  height: 14em;
  width: auto;
  align-self: center;
  border-radius: 1em;
}

.author .title {
  text-decoration: none; 
  color: var(--ten);
}

.form-group {
  padding: 0.5em;
}

.btn {
  margin: 1em 0em;
  padding: 0.3em;
  width: 8em;
  height: auto;
  background-color: var(--ten);
  text-decoration: none;
  border: none;
  border-radius: 0.6em;
  color: #ffffff;
  font-weight: 800;
}